asgiref==3.9.1
Django==5.2.4
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
gitdb==4.0.12
GitPython==3.1.41
pillow==11.3.0
PyJWT==2.10.1
setuptools==75.6.0
smmap==5.0.2
sqlparse==0.5.3
